/*
small
0.69
0.83=10
1= 12
1.2 =14.4
1.44=17.28
1.72=20.64
2.07=24.84
2.48=29.76
2.98=35.83
3.58=42.9
4.3=51.5
*/

/*type*/
:root {
    font-size: 12px;
}

body,
a {/*resets default*/
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:rgb(75,80,80);
    text-decoration: none;
    line-height: 1.44em;
}

.welcome-col-text {
    font-size: 1.2rem;
    line-height: 1.44em;
}

h1 {
    font-size: 3.58rem;
}

h2,
.logo { /*vh-section-title*/
    font-size: 2.48rem;
    font-family: 'Roboto Slab', serif;
    font-weight:600;
}

.logo {
    font-size: 3.58rem;
    line-height: 0.8em;
}

 h3 { /*welcome-connect-col-titles*/
    font-size: 2.07rem;
    font-weight:300;
    line-height: 1.2em;
}

.welcome-col-header h3 {
    font-weight: 100;
    letter-spacing: 0.2em;    
}

#connect-form-subtitle {
    font-size:1rem;
}

h4 {/*project-tile-title*/
    font-size: 1.72rem;
    font-weight: 600;
}

h5,
.logo-subtext,
.nav-link,
#connect-form label {    
    font-size: 1rem;
    text-transform: uppercase;
}

small {
    font-size: 0.69rem;
}

.fa-bigx {
    font-size:4.3rem;
}

/*color elements*/
.cyan-dot {
    background-color: rgb(159,228,196);
}
                
.red-dot {
    background-color: rgb(238,110,71);
}

#page-header {
    box-shadow: 0 2px 6px rgba(7,6,6,0.5);
}

#projects {
    background: linear-gradient( white 0%, rgb(247,244,223) 100%),linear-gradient(rgb(247,244,223) 90%, white 100%);
    background-size: 100% 80px,100%;
    background-repeat: no-repeat;
    background-position: top;
}

footer {
    
    background: linear-gradient( white 0%, rgb(159,228,196) 80%),rgb(159,228,196);
    background-size: 100% 80px,100%;
    background-repeat: no-repeat;
    background-position: top;
 
  }

.project-tile {
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.project-thumb {
    border:1px solid rgb(75,80,80);
}

input, textarea {
    border:1px solid rgba(7,6,6,0.5);
}

button {
    background-color: rgba(75,80,80);
    color:white;
    transition:all 0.2s linear;
}

button:hover {
    background-color: rgb(238,110,71);
    
}

.fa:hover {
      color: rgb(238,110,71);
      transition:color 0.2s linear;
}

  
.nav-link {
    position: relative;
}

.nav-link::after {
    width: 0;
    height:2px;
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    background-color: rgb(238,110,71);
    transition:all 0.2s linear;
}

  .nav-link:hover::after {
      width:100%;
  }
